.p1{
    color: lightgreen;
    background-color: darkgreen;
}
.p2{
    color: rgb(255, 0 , 123);
    background-color: rgb(30, 30, 255, 0.5);
}
h1, h2{
    color: crimson;
    background-color: floralwhite;
}
div p{
    color: rgb(51, 11, 184);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 18px;
}
span{
    color: rgb(43, 23, 13);
}
.ch1, .ch2, .ch3{
    color:rgb(9, 207, 32);
    text-transform: uppercase;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center
}
.ch1{
    border-style: dashed;
    border-color: rgb(255, 0, 30);
    border-width: 5px;
    border-top-style: double;
}
.ch2{
    border: 5px dotted palevioletred;
    background-color: rgb(24, 4, 8);
}
.ch3{
    border: 10px solid orange;
    border-radius: 30px;
}
.margindown{
    border: 10px solid red;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right:10px;
    border-radius: 30px;
}
.pm{
    border: 10px solid rgb(68, 0, 255);
    border-radius: 30px;
    margin: 100px 50px 20px 40px;
    padding: 25px 50px 25px 100px;
}

a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: purple;
}
a:hover {
  color: green;
  text-decoration: underline;
}
